[tasks."codegen:protobuf"]
description = "Gera c칩digo do protobuf"
run = "protoc --go_out=. --go-grpc_out=. proto/ci.proto"

[tasks.codegen]
description = "Gera todo c칩digo necess치rio"
depends = ["codegen:protobuf"]

[tasks.build]
description = "Compila bin치rio"
run = "go build -o bin/mise-ci ./cmd/mise-ci"

[tasks.ci]
description = "Roda checks de CI"
depends = ["ci:lint", "ci:test"]

[tasks."ci:lint"]
run = "golangci-lint run"

[tasks."ci:test"]
run = "go test ./..."
